<table class="table caption-top">
    <caption style="font-size: 42px;">Lista de Pessoas</caption>
        <thead>
              <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col"><button routerLink="/admin/pessoas/novo" >Novo</button></th>
                  </tr>
            </thead>
        <tbody>
              <tr *ngFor="let pessoa of lista">

                    <td>{{pessoa.nome}}</td>
                    <td>{{pessoa.idade}}</td>
        </tr>
           
    </tbody>
</table>
