<table class="table caption-top">
    <caption style="font-size: 42px;">Lista de Pessoas</caption>
        <thead>
              <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col"><button (click)="abrirModal(abc)" >Nova pessoa</button></th>
                 

        </tr>
            </thead>
        <tbody>
              <tr *ngFor="let pessoa of lista">

                    <td>{{pessoa.nome}}</td>
                    <td>{{pessoa.idade}}</td>
        </tr>
           
    </tbody>
</table>

<ng-template #abc let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Nova Pessoa</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-pessoasdetails (retorno)="addNaLista($event)" ></app-pessoasdetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>