<table class="table caption-top">
    <caption style="font-size: 42px;">Lista de Carros</caption>
        <thead>
              <tr>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col"><button (click)="abrirModal(abc)" >Ñovo Carro</button></th>
              </tr>
            </thead>
        <tbody>
              <tr *ngFor="let carro of lista">

                    <td>{{carro.marca}}</td>
                    <td>{{carro.modelo}}</td>
        </tr>
           
    </tbody>
</table>

<ng-template #abc let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Novo Carro</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-carrosdetails (retorno)="addNaLista($event)" ></app-carrosdetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>